.hero {
	display: flex;
	/* height: 290px; */
	height: 72vh;
	background-color: rgba(234, 228, 252, 1);
	border-radius: 20px;
	margin: 0 10px;
	margin-top: 50px;
}

.hero1 {
	display: flex;
	width: 50%;
}

.hero1-sub1 {
	padding: 20px;
}

.hero1-sub1 h2 {
	font-family: Moranga;
	font-size: 38px;
	margin-top: 30%;
	/* font-weight: 500; */
}
.hero1-sub1 p {
	width: 350px;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 500;
	/* line-height: 23px; */
}

.hero1-sub2 {
	position: absolute;
	top: 122px;
	/* left: 70px; */
	left: 45%;
}

.hero-button {
	background-color: rgba(255, 255, 255, 1);
	color: rgba(117, 77, 232, 1);
	font-size: 15px;
	padding: 10px 30px;
	border: 1.5px solid rgba(117, 77, 232, 1);
	border-radius: 20px;
	margin: 20px 0;
}

.hero-button:hover {
	background-color: rgba(117, 77, 232, 1);
	color: rgba(255, 255, 255, 1);
}

.hero2 {
	display: flex;
	width: 50%;
	background-image: url(../../assets/Iconss/blend.svg);
	background: no-repeat;
	margin-top: -100px;
}

.hero2-sub1 {
	position: relative;
	top: 100px;
}

.blend-img{
	width: 100%;
}

.hero2-sub1 img {
	/* position: relative; */
	/* width: 586.65px; */
	/* height: 312.25px; */
	height: fit-content;
	/* top: -70px; */
	/* right: 60px; */
}

.hero2-sub2 {
	position: absolute;
	top: 240px;
	left: 55%;
	padding: 0 10px;
	width: 409px;
	height: 80px;
	border-radius: 10px;
	background: linear-gradient(
			92.19deg,
			#ffffffb6 33.39%,
			transparent 88.97%
		),
		linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
	z-index: 100;
}

.hero2-sub2 p {
	width: 400px;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 500;
	background-color: transparent;
}

.hero2-sub3 {
	position: absolute;
	top: 150px;
	right: 50px;
	border-radius: 5px;
	padding: 8px 10px;
	background-color: #ffffff;
	text-align: center;
}

.hero2-sub3 select {
	border: none;
	outline: none;
}

/* #option-icon option:disabled {
	color: aquamarine;
  } */

#option-icon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	/* background-color: #ffffff; */
    background: url('../../assets/Iconss/ArrowDown.svg') no-repeat right ; 
    padding-right: 20px; 
}

/* .hero2-sub4{
    position: relative;
    top: 98px;
    right: 820px;

} */

.hero2-sub4 {
	position: absolute;
	/* top: 310px; */
	top: 75.6%;
	left: 85%;
	width: 100px;
	height: 100px;
}

@media screen and (min-width: 851px) and (max-width: 920px){
	.hero{
		height: 30vh;
	}

	.hero2-sub4{
		top: 31.6%;
	}
}

@media screen and (min-width: 601px) and (max-width: 850px) {
	.hero {
		/* display: flex; */
		position: relative;
		height: 200px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		margin: 0 0px;
		margin-top: 0px;
	}

	.hero1-sub1 h2{
		margin-top: 7%;
	}

	/* .hero2-sub2 {
		display: none;
		left: 45%;
	}

	.hero2-sub1 {
		width: 400px;
		top: 70px;
	} */

	.hero1 {
		width: 100%;
	}

	.hero2 {
		width: 100%;
	}
	.hero2-sub2 {
		display: none;
	}

	.hero2-sub1 {
		/* width: 320px; */
		/* top: 0px; */
		/* left: 20%; */
	}

	.hero1-sub2 {
		position: relative;
		top: -80px;
		left: -80%;
	}

	.hero2-sub4 {
		position: absolute;
		top: 100px;
		left: 87%;
		width: 100px;
		/* transform: rotate(-85deg); */
	}

	.hero2-sub3 {
		position: absolute;
		top: 5px;
		left: 38%;
		width: 170px;
		height: auto;
	}

	.hero-button{
		display: none;
	}

	.hero2-sub3 input{
		padding: 13px 5px;
	}

	.hero1-sub1 p {
		font-size: 14px;
	}
}

@media only screen and (min-width: 281px) and (max-width: 480px) {
	.hero {
		display: flex;
		flex-direction: column-reverse;
		margin: 0 0px;
		height: 250px;
		/* margin-top: 0; */
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	.hero1 {
		width: 100%;
	}

	.hero2 {
		width: 100%;
	}
	.hero2-sub2 {
		display: none;
	}

	.hero2-sub1 {
		width: 200px;
		top: 0px;
		left: 45%;
	}

	.hero1-sub2 {
		position: relative;
		top: -80px;
		left: -80%;
	}

	.hero2-sub4 {
		position: absolute;
		top: 150px;
		left: 73%;
		width: 100px;
		/* transform: rotate(-85deg); */
	}

	.hero2-sub3 {
		position: absolute;
		top: 1.5%;
		right: 35%;
		border-radius: 5px;
		padding: 4px 10px;
		background-color: #ffffff;
		text-align: center;
	}

	.hero-button{
		display: none;
	}

	.hero1-sub1 p {
		font-size: 13px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
	.hero {
		display: flex;
		flex-direction: column-reverse;
		margin: 0 0px;
		height: 250px;
		margin-top: 0;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	.hero1 {
		width: 100%;
	}

	.hero2 {
		width: 100%;
	}
	.hero2-sub2 {
		display: none;
	}

	.hero2-sub1 {
		width: 200px;
		top: 110px;
		left: 45%;
	}

	.hero1-sub2 {
		position: relative;
		top: -80px;
		left: -80%;
	}

	.hero2-sub4 {
		position: absolute;
		top: 150px;
		left: 73%;
		width: 100px;
		/* transform: rotate(-85deg); */
	}

	.hero2-sub3 {
		position: absolute;
		top: 5px;
		left: 30%;
		width: 170px;
		height: auto;
	}

	.hero-button{
		display: none;
	}

	.hero1-sub1 p {
		font-size: 15px;
	}

	/* Rotate the image by a specific angle */
	.hero2-sub4 img {
		
	}
}

@media screen  and (min-width: 120px) and (max-width: 280px){
	.hero {
		display: flex;
		height: 290px;
		background-color: rgba(234, 228, 252, 1);
		border-radius: 20px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		margin: 0px;
	}

	.sub1{
		top: 0;
	}
	.hero1-sub2 img{
}

.hero2-sub2 {
	display: none;
}

.hero-button{
	display: none;
}

.hero2-sub4 {
    position: absolute;
    top: 190px;
    left: 60%;
    width: 100px;
    height: 100px;
}
.hero2-sub2 p{
	width: auto;
}

.hero2-sub3 {
    position: absolute;
    top: 1.5%;
    right: 30%;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: #ffffff;
    text-align: center;
}

/* .hero1-sub img{
	top: -50px;
} */
}

@media screen and (min-width: 850px) and (max-width: 920px){
	.hero2-sub2 {
		position: absolute;
		top: 240px;
		/* left: 55%; */
		padding: 0 10px;
		width: 380px;
	}

	.hero2-sub2 p {
		width: 380px;
		font-size: 13px;
	}
}






