.body1{
    /* float: right; */
    /* padding-left: 5vw; */
    /* margin-left: 10%; */
    /* width: 90%; */
    background: rgba(234, 228, 252, 1);
    box-shadow: 0px 7px 20px 0px rgba(53, 35, 104, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* flex-wrap: wrap; */
    /* width: 1176px; */
}

@media screen and (max-width:768px) {
.body1{
    display: block;
    width: 100%;
    float: none;
    margin: auto;
    justify-content: center;
}
}