.nav{
    display: flex;
    height: 72px;
    margin-bottom: 30px;
}

.nav-div1{
    display: flex;
    padding: 0 10px;
    /* justify-content: space-between; */
    width: 70%;
}

/* .nav-div1 button{
    width: 120px;
    padding: 10px 25px;
    border-radius: 10px;
} */

.nav-sub1{
    width: 55%;
    padding: 15px 0;
    /* margin-left: 40%; */
}

.nav-sub2{
    width: 22%;
    padding: 15px 0;
    /* justify-content: flex-end; */
    text-align: right;
    /* margin-left: 40%; */
}

.nav-space{
    width: 16%;
}

.nav-sub2 button {
	background-color: rgba(255, 255, 255, 1);
	color: rgba(117, 77, 232, 1);
	font-size: 20px;
	padding: 5px 50px;
    /* width: 160px; */
    height: 40px;
	border: 1.5px solid rgba(117, 77, 232, 1);
	border-radius: 20px;
	/* margin-left: 100%; */
 
}


.nav-sub3{
    width: 8%;
    /* padding: 18px 0; */
}

.nav-sub3 img{
width: 75px;
height: 70px;
/* padding: 18px 0; */
}

.sub1{
    display: flex;
    height: 40px;
    width: 100%;
    /* padding: 10px 0; */
    border: 1px solid black;
    border-radius: 5px;
}

.sub1 img{
    height: 25px;
    padding-top: 10px;
}

.sub1 img:not(:nth-child(1)):nth-child(3){
    margin-left: 20%;
}

.sub1 img:not(:nth-child(1)){
    /* height: 25px; */
}

.sub1 img:nth-child(4){
    margin-left: 10px;
    padding: 8px 0;
}



.sub1 p{
    margin-top: 12px;
    width: 60%;
}

/* .sub1 p::before{
    content: url(../../assets/Icons/Search.svg);
    padding: 15px 0;
} */





.nav-div2{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    /* padding: 10px 0px; */
    background-color: rgba(212, 200, 248, 1);
}

.nav-div2 img:nth-child(2){
    height: 30px;
    padding-top: 20px ;
}