.nav{
    display: flex;
    height: 72px;
    margin-bottom: 30px;
    box-shadow: 0 4px 4px rgba(0, 0.1, 0, 0.2);
}

.nav-div1{
    display: flex;
    padding: 15px 10px;
    width: 70%;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}

.nav-sub1{
    width: 55%; 
}

.nav-sub2{
    width: 22%;

}

.nav-space{
    width: 16%;
}

 .btn {
	background-color: rgba(255, 255, 255, 1);
	color: rgba(117, 77, 232, 1);
	font-size: 20px;
	padding: 5px 25px;
    font-size: 13px;
    height: 40px;
	border: 1.5px solid rgba(117, 77, 232, 1);
	border-radius: 20px;
    /* margin: 15px 0; */
}

 .btn:hover {
	background-color: rgba(117, 77, 232, 1);
	color: rgba(255, 255, 255, 1);
}


.nav-sub3{
    width: 8%;
}

.nav-sub3 img{
width: 75px;
animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sub1{
    display: flex;
    height: 40px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
  
} 

.sub1 img{
    height: 25px;
    padding-top: 7px;
}

.nav-img1{
    padding-left: 10px;
}

.nav-img2{
    padding-left: 10%;
}

.imgx{
    /* display: flex; */
    /* float: right; */
}



.sub1 p{
    margin-top: 12px;
    width: 70%;
}

.div-2{
    width: 30%;
    padding: 2px;
}

.nav-div2{
    display: flex;
    justify-content: space-between;
    height: 68px;
    /* width: 30%; */
    /* padding: 10px; */
    background-color: rgba(241, 237, 253, 1);
}

.nav-div2 img:nth-child(2){
    height: 30px;
    padding-top: 20px ;
}

@media screen and (max-width: 920px){
    .nav{
        position: absolute;
        margin-bottom: 0;
        box-shadow: none;
    }

    .nav-div1{
        box-shadow: none;
    }

    .sub1 img:not(:nth-child(1)){
        display: none;
    }

    .nav-space{
        display: none;
    }

    .nav-sub2{
        display: none;
    }

    .nav-sub3{
        display: none;
    }

    .nav-div2{
        background-color: transparent;
    }

    .nav-div2 img:not(:nth-child(3)){
        display: none;
    }
}

@media screen and (min-width: 280px) and (max-width: 480px){
    .nav{
        flex: none;
        position: absolute;
        height: auto;
        top: 270px;
        width: 100%;
        margin-bottom: 0px;
        box-shadow: none;
    }

    .nav-div1{
        box-shadow: none;
    }

    .sub1 img:not(:nth-child(1)){
        display: none;
    }

    .nav-space{
        display: none;
    }

    .nav-sub2{
        display: none;
    }

    .nav-sub3{
        display: none;
    }

    .nav-div1{
        padding: 0 20px;
    }

    .nav-div2{
        background-color: transparent;
    }

    .sub1{
        position: absolute;
        width: 90%;
        top: -35px;
        background-color: #ffffff;
        border: 1px solid rgba(241, 237, 253, 1);
        z-index: 150;
    }

    .sub1 p{
        font-size: 15px;
        width: auto;
    }

    .nav-div2 img:not(:nth-child(3)){
        display: none;
    }

    .profile{
        position: absolute;
        top: -277px;
        height: 90px;
        right: -10px;
        z-index: 150;
    }
}

@media screen and (min-width: 501px) and (max-width: 850px){
    .nav{
        /* flex: none; */
        position: absolute;
        height: auto;
        top: 270px;
        width: 100%;
        margin-bottom: 0px;
        padding: 0 0;
        box-shadow: none;
    }

    .sub1 {
        position: absolute;
        left: 14%;
        width: 70%;
        top: -92px;
        background-color: #ffffff;
        border: 1px solid rgba(241, 237, 253, 1);
        z-index: 150;
    }

    .sub1 p{
        font-size: 15px;
        width: auto;
    }

    .nav-div2 img:not(:nth-child(3)){
        display: none;
    }


    .profile{
        position: absolute;
        top: -270px;
        height: 80px;
        right: 0;
        z-index: 150;
    }

    .hero2-sub3 {
        position: absolute;
        top: 5px;
        left: 39%;
        width: 190px;
        height: auto;
    }

    .hero1-sub2 {
        position: relative;
        /* top: 0px; */
        left: -80%;
    }

    .icon {
        /* display: flex; */
        /* margin-left: 15px; */
    }
}