.nav{
    display: flex;
    height: 72px;
    margin-bottom: 30px;
}

.nav-div1{
    display: flex;
    padding: 15px 10px;
    /* justify-content: space-between; */
    width: 70%;
}

/* .nav-div1 button{
    width: 120px;
    padding: 10px 25px;
    border-radius: 10px;
} */

.nav-sub1{
    width: 55%;
    /* padding: 15px 0; */
    /* margin-left: 40%; */
}

.nav-sub2{
    width: 22%;
    /* padding: 15px 0; */
    /* text-align: right; */
}

.nav-space{
    width: 16%;
}

 .btn {
	background-color: rgba(255, 255, 255, 1);
	color: rgba(117, 77, 232, 1);
	font-size: 20px;
	padding: 5px 25px;
    font-size: 13px;
    height: 40px;
	border: 1.5px solid rgba(117, 77, 232, 1);
	border-radius: 20px;
    /* margin: 15px 0; */
}

 .btn:hover {
	background-color: rgba(117, 77, 232, 1);
	color: rgba(255, 255, 255, 1);
}


.nav-sub3{
    width: 8%;
}

.nav-sub3 img{
width: 75px;
}

.sub1{
    display: flex;
    height: 40px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
  
}

.sub1 img:nth-last-child(-n+2) {
    /* margin-left: 100px; */
  }
  

.sub1 img{
    height: 25px;
    padding-top: 10px;
}

.imgx{
    /* display: flex; */
    /* float: right; */
}

.sub1 img:not(:nth-child(1)):nth-child(3){
    margin-left: 20%;
    /* float: right; */
}

.sub1 img:not(:nth-child(1)){
    /* height: 25px; */
}

.sub1 img:nth-child(4){
    /* margin-left: 10px; */
    /* padding: 8px 0; */
}



.sub1 p{
    margin-top: 12px;
    width: 60%;
}

.div-2{
    /* padding: 10px; */
}

.nav-div2{
    display: flex;
    justify-content: space-between;
    width: 30%;
    /* padding: 10px; */
    background-color: rgba(241, 237, 253, 1);
}

.nav-div2 img:nth-child(2){
    height: 30px;
    padding-top: 20px ;
}

@media screen and (min-width: 280px) and (max-width: 480px){
    .nav{
        flex: none;
        position: absolute;
        height: auto;
        top: 270px;
        width: 100%;
        margin-bottom: 0px;
    }

    .nav-sub1{
        /* width: 100%; */
        /* padding: 15px 0; */
        /* margin-left: 40%; */
    }

    .sub1 img:not(:nth-child(1)){
        display: none;
    }

    .nav-space{
        display: none;
    }

    .nav-sub2{
        display: none;
    }

    .nav-sub3{
        display: none;
    }

    .nav-div1{
        padding: 0 20px;
    }

    .nav-div2{
        background-color: transparent;
    }

    .sub1{
        position: absolute;
        width: 90%;
        top: -35px;
        background-color: #ffffff;
        border: 1px solid rgba(241, 237, 253, 1);
        z-index: 150;
    }

    .sub1 p{
        font-size: 15px;
        width: auto;
    }

    .nav-div2 img:not(:nth-child(3)){
        display: none;
    }

    .profile{
        position: absolute;
        top: -270px;
        height: 80px;
        right: 0;
        z-index: 150;
    }
}